<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name = "BrowserName" value = "firefox"/>
  <parameter name = "searchText" value = "iphone"/>
  <parameter name = "name" value ="Rajib"/>
  <parameter name = "phoneNumber" value = "9932456789"/>
  <parameter name = "email" value= "xyz.abc@gmail.com"/>
  <parameter name = "password" value ="Rajib#2021"/>
  
  <groups>
  <run>
  <include name = "sanity"/>
  <!-- <exclude name = "footer"/>
  <exclude name = "top"/>
  <exclude name = "registration"/>   -->
  </run>
  </groups>
    <classes>
      <class name="com.SeleniumAssignment.tests.HomeTest"/>
      <class name="com.SeleniumAssignment.tests.CareersTest"/>
       <class name="com.SeleniumAssignment.tests.RegistrationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
